*{
    background-color: black;
    text-align: center;
    font-family: Verdana, sans-serif;
}

h1{
    color:white;
    font-size: 50px;
}

a{
    color: aquamarine;
    text-decoration: underline;
}

.section p{
    color:white;
    font-size: 42px;
    font-weight: 300;
}
.section h4{
    color: rgb(194, 190, 190);
    font-size: 21px;
}
.images{
    display: block;
    align-items: center;
}
 p{
    font-size:  42px;
    font-weight: 300;
    color:white;
}

.copyright p{
    float:right;
    font-size: 21px;
    color:rgb(216, 216, 216)
}

